{% extends 'base.html' %}

{% block title %}
{{ title }} - {{ block.super }}
{% endblock %}

{% block content %}



<h1>{{ title }}</h1>
{% for day, list_operations in operations_in_days.items %}
    <div class="card text-dark bg-light mb-5" style="max-width: 80rem;">
        <div class="card-header fw-bold text-start">{{ day }}</div>
            {% for operation in list_operations %}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="fs-4 fw-bold">{{ operation.category }}</div>
                        <div class="fs-4">{% if operation.category.type_of == 'pay' %}-{% endif %}{% if operation.category.type_of == 'earn' %}+{% endif %}{{ operation.amount1 }} {{ operation.currency1 }}</div>
                    </div>
                    <div class="d-flex w-100 justify-content-between gy-5">
                        <p class="fs-5">{{ operation.from_wallet }}</p>
                        <small>{{ operation.updated_at|time }}</small>
                    </div>
                    <div class="text-start">{{ operation.description }}</div>
                </a>
            {% endfor %}
    </div>
{% empty %}
<h5>
Здесь ничего нет. Добавьте первую операцию!<br>(Операции >> Добавить операцию)
</h5>
{% endfor %}

{% endblock %}