{% extends 'base.html' %}

{% block title %}
{{ title }} - {{ block.super }}
{% endblock %}

{% block content %}



<div class="mx-auto" style="width: 800px;">
    <h1>{{ title }}</h1>
    {% for item in operations %}
        <p>
            Операция № {{ item.pk }} - Пользователь: {{ item.user }} - Счёт списания: {{ item.from_wallet_id }}
        </p>
        <div class="card text-dark bg-light mb-5 w-100" style="max-width: 80rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}