{% extends 'base.html' %}

{% block title %}
{{ title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <p>
    <h1>{{ title }}</h1>
    </p>
    
    <form action="{% url 'settings' %}" method="post" class="text-start" style="max-width: 30rem;">
        
        {% csrf_token %}
        {{ form.as_p }}
    
        <p>
            <button type="submit" value="Update" class="btn btn-primary btn-block">Сохранить</button>
        </p>
    </form>
    
{% endblock %}