{% extends 'base.html' %}

{% block title %}
{{ title }} - {{ block.super }}
{% endblock %}

{% block content %}


<h1>{{ title }}</h1>
<br>
<div class="list-group-item list-group-item text-start fs-4" style="max-width:600px;">
    <div class="fs-5">Выберите счёт, на который перенесутся операции удаляемого счёта</div>
    {% for w in wallets %}
    <a href="{% url 'wallet_delete' wallet.pk %}?confirm=true&move_to={{ w.pk }}" class="list-group-item list-group-item-action">
        {{ w }}
    </a>
    {% endfor %}
    <a href="{% url 'wallet_delete' wallet.pk %}?confirm=true" class="list-group-item list-group-item-action">
        {{ w }}
    </a>
</div>

{% endblock %}