{% extends 'base.html' %}

{% block title %}
{{ title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <p>
    <h1>{{ title }}</h1>
    </p>
    
    <form action="{% url 'wallet_new' %}" method="post" class="text-start" style="max-width:500px;">
        
        {% csrf_token %}
        
        <p>
            <b>{{ form.name.label }}</b>
            {{ form.name }}
            {{ form.name.errors }}
            {{ form.name.help_text }}
        </p>
        <p>
            <b>{{ form.balance.label }}</b>
            {{ form.balance }}
            {{ form.balance.errors }}
            {{ form.balance.help_text }}
        </p>
        <p>
            <b>{{ form.currency.label }}</b>
            {{ form.currency }}
            {{ form.currency.errors }}
            {{ form.currency.help_text }}
        </p>
        
        <p>
            <button type="submit" class="btn btn-primary btn-block">Добавить cчёт</button>
        </p>
    </form>
    
{% endblock %}