{% extends 'base.html' %}

{% block title %}
{{ title }} - {{ block.super }}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<br>
{% for wallet in wallets %}
    <div class="card text-dark bg-light mb-5" style="max-width: 35rem;">
        <div class="card-header">
            <div class="d-flex w-100 justify-content-between">
                <div class="fs-3 fw-bold">{{ wallet.name }}</div>
                <div class="fs-4">Баланс: {{ wallet.balance }} {{ wallet.currency }}</div>
            </div>
        </div>
        
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <a href="{% url 'operations' %}?wallet={{ wallet.pk }}" class="btn btn-outline-secondary">Операции по счёту</a>
                <a href="{% url 'wallet_detail' wallet.pk %}" class="btn btn-outline-secondary">Детали</a>
                <a href="{% url 'wallet_edit' wallet.pk %}" class="btn btn-outline-secondary">Редактировать</a>
            </div>
        </div>
    </div>
{% endfor %}

<p><a href="#" class="btn btn-primary btn-lg">Добавить счёт</a></p>

{% endblock %}