



<h2 align="center"><b>О проекте:</b></h2>

<p>
<h3>
    <p>
        Это веб-сайт, который поможет вам сохранить ваши деньги! Save Your Money покажет вам, на что на самом деле вы тратите деньги и поможет внедрить в жизнь привычку сбережения!
    </p>
    <p>
        Написано для моего резюме на вакансию Junior Python-разработчика.
    </p>
</h3>
<h5>
    <p>
        Использованные языки, технологии, сервисы и фреймворки:
    <ul>
        <li>Python 3.8</li>
        <li>Django 4.0.4</li>
        <li>HTML</li>
        <li>SQL (SQLite 3)</li>
        <li>Bootstrap</li>
        <li>GitHub</li>
    </ul>
    </p>
    
    <p>Автор: Илья Липчанский</p>
    <p>Дата разработки: 2 мая 2022 — ...</p>
    Чтобы получить доступ к сайту, пожалуйста, зарегистрируйтесь или авторизуйтесь.
</h5>
</p>